
<!DOCTYPE html>
<html>
<head>
	<style>
		footer {
			display: block;
		}
		textarea {
			width: 100%;
			min-height: 400px;
		}
	</style>
</head>
<body>
	<h1><%= title %></h1>

	<% if (links && links.length) { %>
	<h2>Links</h2>
	<ul>
		<% links.forEach(function(link){ %>
			<%- include('link', { link: link }); %>
		<% }); %>
	</ul>
	<% } %>

	<% if (datasets && datasets.length) { %>
	<h2>Datasets</h2>
	<ul>
		<% datasets.forEach(function(dataset){ %>
			<%- include('dataset', { dataset: dataset }); %>
		<% }); %>
	</ul>
	<% } %>

	<footer>
		<h3>Thredds response:</h3>
		<textarea><%- xml %></textarea>
	</footer>
</body>
</html>
