
<!DOCTYPE html>
<html>
<head>
	<style></style>
</head>
<body>
	<h1>Error</h1>
	<div>Error opening: <a href="<%- url %>"><%- url %></a></div>
	<pre>
		<%= JSON.stringify(error) %>
	<pre>
</body>
</html>
